@using PagedList.Mvc
@model PagedList.IPagedList<PhotoContest.Web.ViewModels.ContestViewModel>

<div class="row">
    @Html.DisplayFor(x => x)
    @Html.PagedListPager(Model, page => Url.Action("ActiveContests", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "contestsContainer" }))
</div>