body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.user-panel:hover {
    background-color: aliceblue
}

.user-info {
    display: inline-block; 
    padding-left: 10px
}

.img-thumbnail {
    display: inline-block; 
    width: 140px;
    height: 140px;
    vertical-align: top;
}

.contests-nav {
    width: 75%;
    padding-bottom: 10px
}

.controls {
    padding-top: 10px
}

.photo {
    width: 800px; 
    height: 600px;
    display: block;
    margin: 0 auto;
}
