<appSettings>
	<add key="GoogleClientID" value="165502616470-882bohof2hjimkjrisgb16vnel3q3v0b.apps.googleusercontent.com" />
	<add key="GoogleClientSecret" value="xfP2vgcEA3qOHWfXyS83v8Ct" />

	<add key="FbClientID" value="507911562709811" />
	<add key="FbClientSecret" value="3c59cb326addf43d5a1a96a29c53e889" />
</appSettings>