@model PhotoContest.Web.ViewModels.CommentViewModel

<div class="panel panel-body panel-default">
    @Model.Text
    @Model.CommentId
    <br/>
    @Html.ActionLink("Delete", "Delete", "Comments", new { id = @Model.CommentId }, new { @class = "btn btn-danger" })
</div>
