@model PhotoContest.Web.ViewModels.UserViewModel

<div class="panel panel-body panel-default">
    <h3>
        @Html.ActionLink(
            String.Format("{0}", Model.UserName),
            "Details", "Users", new {id = Model.Id}, null
            )
    </h3>
    <h4>Email: @Model.Email</h4>
    <p>Joined On: @Model.JoinedOn</p>

    @if (@ViewBag.ContestId != null)
    {
        
    }
</div>