@model IEnumerable<PhotoContest.Web.ViewModels.NotificationViewModel>
<ul>
    @foreach (var noty in Model)
    {
        <li>@Html.ActionLink("Invited to " + @noty.Contest.Title, "Details", "Contests", new { id = @noty.ContestId }, new { onclick = "markAsSeen(" + @noty.Id + ")" })</li>
    }
</ul>