@using PagedList.Mvc
@model PagedList.IPagedList<PhotoContest.Web.ViewModels.ContestViewModel>
@{
    ViewBag.Title = "Contests";
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Item</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<h2>Contests</h2>

<div class="row" id="results">
    @Html.DisplayFor(x => x)
    @Html.PagedListPager(Model, page => Url.Action("Index", "AdminContests", new { page }))
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#deleteModal").modal("hide");

            $(".deleteLink").on("click", function () {

                $.get('@Url.Action("GetDeletePartial","AdminContests")', { id: $(this).prop("id") }, function (data) {
                    $("#deleteModalBody").html(data);

                    $("#deleteModal").modal("show");
                });

            });
        });
    </script>
}