@model PhotoContest.Web.ViewModels.UserViewModel
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="panel panel-body panel-default">
        
        <h3>@Model.UserName</h3>
        <h4>Email: @Model.Email</h4>
        <p>Joined On: @Model.JoinedOn</p>

    </div>
</div>
