@using PagedList.Mvc
@model PagedList.IPagedList<PhotoContest.Web.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<hr/>
<div class="row">
    @Html.DisplayFor(x => x)
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
</div>