@using PagedList.Mvc
@model PagedList.IPagedList<PhotoContest.Web.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Users";
}

<hr />
<h2 class="text-center">Users</h2>
<hr />

@using (Ajax.BeginForm("Search", null, new AjaxOptions
{
    UpdateTargetId = "results",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { id = "form-controll" }))
{
    <input class="form-control" type="text" name="query" oninput="changed()" placeholder="Search" style="margin: 0 auto"/>
}

<br />
<div class="row" id="results">
    @Html.DisplayFor(x => x)
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<script>
    function changed() {
        $("searchForm").first().submit();
    }
</script>