@model PhotoContest.Web.ViewModels.ContestPicturesViewModel
@{
    ViewBag.Title = "Pictures";
}

<div class="row">
    @Html.DisplayFor(x => x.Pictures)
</div>

<h2>Here you can upload pictures to contest</h2>

@Html.ActionLink("Add", "Create", "Pictures", new { id = @Model.ContestId }, new { @class = "btn btn-default" })