@model PhotoContest.Web.ViewModels.PictureCommentsViewModel
@{
    ViewBag.Title = "Comments";
}

<div class="row">
    @Html.DisplayFor(x => x.Comments)
</div>

@Html.ActionLink("Add", "Create", "Comments", new { id = @Model.PictureId }, new { @class = "btn btn-info" })

@section Scripts {
    <script type="text/javascript">
        function hideComment(id) {
            $("#comment" + id).remove();
        }
    </script>
}
